<h1>Add course</h1>

<form action="/add" method="post">
  <div class="input-field">
    <input
      id="title"
      type="text"
      class="validate"
    />
    <label for="title">Name of course</label>
  </div>
</form>